{% extends 'auditor/base-dashboard.html' %}
{% block title %}Customers{% endblock title %}
{% block customersactive %}active{% endblock customersactive %}
{% block content %}
<div class="container" style="margin-left:17%; width:83%">
    <h2>Customers</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Name</th>
            <th scope="col">Pin code</th>
          </tr>
        </thead>
        <tbody>
          {% for i in customers %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.pin_code}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock content %}